.chatArea{
    background-color: var(--primary);
    height: 100%;
    width: 100%;
}

.chatArea > p {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.list {
    /* flex-grow:1; */
    /* max-height: calc(100vh - 100px); */
    overflow-y: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    height: 68vh;
    border: 1px solid black;
    border-radius: 15px;
}

.chatAreaContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
}

.form{
    gap: 1rem;
    width: 100%;
    bottom: 0;
}

.buttonForm {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: var(--secondary);
}

.inputForm{
    width: 85%;
    align-items: center;
    justify-content: center;
}

.messageCard{
    align-items: start;
    max-width: 60%;
    margin-top: 5px;
    padding: 2px 10px;
}

.hidden {
    display: none;
}