.MainLayout{
    height: 100%;
    width: 100%;
}

.addBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 3%;
    left: 3%;
    background-color: var(--secondary);
    border: 1px solid black;
}

/* .MainLayout> * > .sideBar {
    width: 100%;
    height: 100%;
} */

/* Default mobile styles */
.sideBar,
.profile,
.addChatForm,
.chatArea {
    width: 100%;
    display: none;
    /* Initially hidden */
}

.sideBar {
    display: block;
    height: 100%;
    min-width: 300px;
    /* Show sidebar by default */
}

@media screen and (min-width: 768px) {
    .sideBar,
    .profile,
    .addChatForm {
        width: 20%;
        display: block;
        /* Show on larger screens */
    }

    .chatArea {
        width: 80%;
        display: block;
        /* Show on larger screens */
    }
}